* {
    font-family: 'Electrolize', sans-serif;
}

:root {
    --main-color: #5d63ff;
    --bg-color: #0e1e36;
    --secondary-color: #92e8ff;
    --pink-color: #c6aff5;
    --secondary-pink-color: #afaff3;
    --third-color: #c7d5eb;
}

.text-main {
    color: var(--main-color);
}

.bg-main {
    background-color: var(--main-color);
}

.bg-color {
    background-color: var(--bg-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.text-secondary-color {
    color: var(--secondary-color);
}

.text-pink-color {
    color: var(--pink-color);
}

.text-secondary-pink {
    color: var(--secondary-pink-color);
}

.text-third-color {
    color: var(--third-color);
}

body {
    background-color: var(--bg-color);
}

.card-custom {
    box-shadow: inset -3px -3px 10px #5d63ff, inset 3px 3px 10px #afaff3;
    border-radius: 10px;
    padding: 10px 20px;
}

.card-custom:hover {
    /* box-shadow: -5px -5px 20px #5d63ff, inset 5px 5px 20px #afaff3; */
    box-shadow: -3px -3px 10px #5d63ff, inset 3px 3px 10px #afaff3;
}

.card-custom:active {
    box-shadow: inset 1px 1px 2px #afaff3, inset -1px -1px 2px #5d63ff;
}

.scrollable {
    height: 400px;
    overflow: auto;
    visibility: hidden;
}

.badge {
    visibility: hidden;
  }

@media screen and (max-width: 600px) {
    .badge {
      visibility: visible;
    }
  }

.scrollable-content,
.scrollable:hover,
.scrollable:focus {
  visibility: visible;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-pink-color);
}

.progress {
    background-color: transparent !important;
}

.modal-custom {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: scroll;
}

.modal-custom-content {
    background-color: var(--bg-color);
    margin: auto;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
}

.modal-custom.active {
    z-index: 10;
    opacity: 1;
}

.plot {
    height: 200px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.pin-new {
    border-right: 2px solid rgba(0, 0, 255, 0.575);
    position: relative;
    width: 5px;
    margin-right: 1px;
}

.pin-new::after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: -3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: blue;
}

.pin-death {
    border-right: 2px solid rgba(255, 0, 0, 0.575);
    position: relative;
    width: 4px;
    margin-right: 1px;
}

.pin-death::after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: -3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: red;
}

.pin-recovered {
    border-right: 3px solid rgba(0, 255, 0, 0.575);
    position: relative;
    width: 4px;
    margin-right: 1px;
}

.pin-recovered::after {
    position: absolute;
    content: "";
    bottom: 0px;
    right: -3px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.btn-circle {
    border: 0 !important;
    outline: none !important;
    box-shadow: inset -3px -3px 10px #5d63ff, inset 3px 3px 10px #afaff3;
    border-radius: 50px;
    background-color: transparent;
    height: 50px;
    width: 50px;
}

.btn-circle:hover {
    /* box-shadow: -5px -5px 20px #5d63ff, inset 5px 5px 20px #afaff3; */
    box-shadow: -3px -3px 10px #5d63ff, inset 3px 3px 10px #afaff3;
}

.btn-circle:active {
    box-shadow: inset 1px 1px 2px #afaff3, inset -1px -1px 2px #5d63ff;
}

.pieChart {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
}

.pieChart::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50px;
    top: 50px;
    z-index: 2;
    background-color: var(--bg-color);
    border-radius: 50%;
}

@media only screen and (max-width: 576px){
    .pieChart {
        width: 200px;
        height: 200px;
    }

    .pieChart::after {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        left: 50px;
        top: 50px;
        z-index: 2;
        background-color: var(--bg-color);
        border-radius: 50%;
    }
}